@font-face {
  font-family: Plain Regular;
  src: url(../fonts/PLAIN-REGULAR.OTF);
}

@font-face{
  font-family: Plain Thin;
  src: url(../fonts/PLAIN-THIN.OTF)
}

@font-face{
  font-family: Plain Light;
  src: url(../fonts/PLAIN-LIGHT.OTF)
}

@font-face {
  font-family: Plain Bold;
  src: url(../fonts/PLAIN-BOLD.OTF);
}

.book ul{
  font-family: Plain Light;
  list-style-type: disc;
  font-size: 16px;
  margin-top: 8px;
  margin-left: 15px;
}

.book ol{
  font-family: Plain Light;
  list-style-type: decimal;
  font-size: 16px;
  margin-top: 8px;
  margin-left: 15px;
}

.book li{
  margin-top: 12px;
  font-family: Plain Thin;
  font-size: 16px;
}

.book p{
  font-family: Plain Light;
  font-size: 16px;
  margin-top: 20px;
}

.book h2{
  font-family: Plain Bold;
  font-size: 18px; 
  margin-top: 24px;
}

.book h3{
  font-family: Plain Light;
  font-size: 18px; 
  margin-top: 28px;
}

@media (min-width:600px)  { 
.book ul{
  font-family: Plain Light;
  list-style-type: disc;
  font-size: 18px;
  margin-top: 8px;
  margin-left: 20px;
}

.book ol{
  font-family: Plain Light;
  list-style-type: decimal;
  font-size: 18px;
  margin-top: 8px;
  margin-left: 20px;
}

.book li{
  margin-top: 12px;
  font-family: Plain Thin;
  font-size: 16px;
}

.book p{
  font-family: Plain Light;
  font-size: 18px;
  margin-top: 22px;
}
.book h2{
  font-family: Plain Bold;
  font-size: 20px; 
  margin-top: 26px;
}

.book h3{
  font-family: Plain Light;
  font-size: 20px; 
  margin-top: 30px;
}
}

@media (min-width:1025px) { 
.book ul{
  font-family: Plain Light;
  list-style-type: disc;
  font-size: 20px;
  margin-top: 8px;
  margin-left: 20px;
}

.book ol{
  font-family: Plain Light;
  list-style-type: decimal;
  font-size: 20px;
  margin-top: 8px;
  margin-left: 20px;
}

.book li{
  margin-top: 12px;
  font-family: Plain Thin;
  font-size: 18px;
}

.book p{
  font-family: Plain Light;
  font-size: 20px;
  margin-top: 24px;
}
.book h2{
  font-family: Plain Bold;
  font-size: 21px; 
  margin-top: 26px;
}

.book h3{
  font-family: Plain Light;
  font-size: 21px; 
  margin-top: 30px;
}
}

@media (min-width:1281px) { 
.book ul{
  font-family: Plain Light;
  list-style-type: disc;
  font-size: 20px;
  margin-top: 8px;
  margin-left: 20px;
}

.book ol{
  font-family: Plain Light;
  list-style-type: decimal;
  font-size: 20px;
  margin-top: 8px;
  margin-left: 20px;
}

.book li{
  margin-top: 12px;
  font-family: Plain Thin;
  font-size: 18px;
}

.book p{
  font-family: Plain Light;
  font-size: 20px;
  margin-top: 28px;
}

.book h2{
  font-family: Plain Bold;
  font-size: 22px; 
  margin-top: 28px;
}

.book h3{
  font-family: Plain Light;
  font-size: 22px; 
  margin-top: 32px;
}
}